/* style.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4; /* Light background color */
}

h1 {
    margin-bottom: 20px;
    color: #333; /* Dark text color */
}

.card {
    display: inline-block;
    width: 200px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff; /* White background for the cards */
}

.card img {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
}

.card button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s;
}

.card button i {
    margin-right: 10px; /* Space between icon and text */
}

.card button:hover {
    background-color: #0056b3;
    transform: scale(1.1); /* Slightly enlarge button on hover */
}

.card button:active {
    background-color: #004080; /* Darker color on click */
}
